<footer>
    <div class="card m-5" id="subscribe">
        <div class="card-body m-4">
                <form action="">
                    <strong class="text-warning">Ne manquez pas de vous abonner à notre newsletter!</strong>
                    <label class="input-group mt-2">

                        <input type="text" class="form-control" placeholder="Votre E-mail">
                        <button class="btn btn-primary" type="button" id="button-addon2">Subscribe</button>
                    </label>
                </form>
        </div>
    </div>

    <div class="text-center">
        <h6><a href="#!" class=" text-decoration-none text-white m-2">A Propos</a>
        <a href="#!" class=" text-decoration-none text-white m-2">Acheter</a>
        <a href="#!" class=" text-decoration-none text-white m-2">Location</a>
        <a href="#!" class=" text-decoration-none text-white m-2">Contact-nous</a></h6>
    </div>

    <div class="text-center p-3 text-warning" style="background-color: rgba(0, 0, 0, 0.2);">
      <h6>  © 2023 Copyright :
        <a class="text-decoration-none text-warning" href="home.html"> FreeImmo</a></h6>
    </div>
</footer>
