<br><br><br>
<div class="mb-5">
    <div class=" fixed-top navbar mb-5" id="header">
        <div class="container-fluid">
            <div class="m-3">
                <a class="navbar-brand" href=""><span id="free">Free</span><span id="immo">Immo</span></a>  
            </div>
           
            <div>
                <a class="text-decoration-none m-4 text-warning fs-5 fw-bolder" href="">Accueil</a>
                <a class="text-decoration-none m-4 text-warning fs-5 fw-bolder" href="">Consulter</a>
                <a class="text-decoration-none m-4 text-warning fs-5 fw-bolder" href="">S'Inscrire</a>
                <a class="btn btn-warning text-decoration-none fs-6 fw-bolder text-primary" href=""
                    role="button"><strong>+</strong>Deposer Une Annonce</a>
            </div>
        </div>
    </div>
</div>