{% extends 'base.html.twig' %}

{% block title %}New Propertys{% endblock %}

{% block body %}
   
    {{ include('propertys/_form.html.twig') }}

    <a class="btn btn-primary m-4" href="{{ path('app_propertys_index') }}">back to list</a>
{% endblock %}
